**/*/arc_asim.h5 filter=lfs diff=lfs merge=lfs -text
**/*/skims.omx filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.sbn filter=lfs diff=lfs merge=lfs -text
*.sbx filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
